body{
    background: #f8f8f8;
    background: -webkit-linear-gradient(0deg, #f8f8f8 0%, #8d8fff 100%);
    background: linear-gradient(0deg, #f8f8f8 0%, #8d8fff 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}