// GENERALE

body{
    background: #2f3042;
    background: -webkit-linear-gradient(173deg, #30314e 0%, #ffffff 100%);
    background: linear-gradient(173deg, #3d3e7e 0%, #ffffff 100%);
    background-repeat: no-repeat;
}

// COLORI E BG

.bg_violet {
    background-color: #8999da;
}

.bg_cl_primary{
    background-color:#5c75d1e0 ;
}
