body{
    background: #fefefe !important;
    background: -webkit-linear-gradient(116deg, #fefefe 0%, #5c75d1 100%) !important;
    background: linear-gradient(116deg, #fefefe 0%, #5c75d1 100%) !important;
    background-repeat: no-repeat;
}